html,body{
    height: 100%;
    width: 100%;
}
.button{
    width: 5rem;
    padding: 1rem;
    margin: 0 0.3rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    cursor: pointer;
}
.row{
    margin:  0.2rem 0;
}
.row input{
    margin: 0.2rem;
    padding: 0.9rem 2rem;
    border-radius: 0.6rem;
    font-size: 1.5em;
}